@import 'variables';

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: left;
}

section {
  h1 {
    text-align: center;
  }
}

main {
  padding: 3em 0;
}

img {
  border-radius: 5px;
  border: 1px solid $light-grey;
}

strong {
  font-weight: 800;
  color: $bright-blue;
}